__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/
results/raw/
results/archive/*
!results/archive/.gitkeep
results/hyperparameter_search/*
!results/hyperparameter_search/.gitkeep
*.pt
*.pth
runs/
outputs/
logs/
repo/
